@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    平安银行测试 demo   .net版本
    
    单个银行卡开通查询  http://localhost:4113/home/UnionAPI_QueryOPNQuery
</div>
</body>
</html>