<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pingan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- ##########################平安银行配置#############################-->
    <!-- 商户ID 测试2000311146   正式410350260100001-->
    <add key="sdbmasterId" value="2000311146"/>
    <!-- 签名证书路径 testmerchant.p12-->
    <add key="sdbsignpfxpath" value="E:\\tool\\testmerchant.p12"/>
    <!-- 签名证书路径 paygate_site.cer  不需要-->
    <add key="sdbsignCerpath" value="E:\\tool\\merchant.cer"/>
    <!-- 前台交易地址网关支付，用银联时，写具体地址 另一地址不用 https://testebank.sdb.com.cn/corporbank/khPayment_B2B.do-->
    <add key="sdbgatewayurl" value="https://my-uat1.orangebank.com.cn/khpayment/UnionAPI_Open.do"/>
    <!-- 前台通知地址，填写后台接收平安前台通知的地址 -->
    <add key="sdbfrontUrl" value="http://localhost:4113/home/sdbReturn"/>
    <!-- 后台通知地址，填写后台接收平安后台通知的地址，必须外网能访问 -->
    <add key="sdbbackUrl" value="http://localhost:4113/home/sdbReturnNotify"/>
    <!-- key的密码 测试为changeit    031115-->
    <add key="sdbKeyPass" value="changeit"/>
    <!-- 平安查询地址 -->
    <add key="sdbQueryUrl" value="https://my-uat1.orangebank.com.cn/corporbank/"/>
    <!-- 平安银联地址 -->
    <add key="sdbUnionUrl" value="https://my-uat1.orangebank.com.cn/khpayment/"/>
    
    
    
    <!-- 平安公钥?-->
    <add key="sdbPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCu+Mf240JRehQsePHM82RV1hUjYS8hSPOS4n/SJUg8cne8z5YJWc2VPChF4PFxsa3J1ey9ti8utAGJhD5Lqm/h9gUFe1ZNqrVY2Bimqt/Oi+zrboz+FahKLap9UX8rJOYnYWREnovXfa9s2MWjmZEXo9w1dqGpX5oICmkR17wS3wIDAQAB"/>

    <!-- 平安本地java验签wsdl地址 -->
    <add key="sdbLocalVerifyUrl" value="http://192.168.66.3:8080/axis2/services/BankService?wsdl"/>
    <!-- 平安前置机地址 测试为http://192.168.66.3:7072-->
    <add key="PALocalApiUrl" value="http://127.0.0.1:7072"/>
    <!-- 平安20位银企代码 原始00101079900009999000-->
    <add key="sdbYQCode" value="00901030000000144000"/>
    <!-- 平安企业签约帐号-->
    <add key="sdbYQAcctNo" value="11014803543008"/>
    <!-- 平安 单位代码 不是必须-->
    <add key="sdbYQCorpId" value="E000095573"/>
    <!-- ##########################平安银行配置#############################-->
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <Pingan.Properties.Settings>
      <setting name="Pingan_BankService_BankService" serializeAs="String">
        <value>http://localhost:8080/axis2/services/BankService.BankServiceHttpSoap11Endpoint/</value>
      </setting>
    </Pingan.Properties.Settings>
  </applicationSettings>
</configuration>